.Box {
    position: relative;
}

.Box {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    align-items: center;
    margin: 1rem 0;
    border-radius: 5px;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .Box {
        flex-direction: row;
        /* margin: initial; */
    }
}

.Box:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 8px solid orange;
    z-index: 1;
    border-radius: inherit;
    box-sizing: border-box;
    border: 4px solid transparent;
    animation: border-fill 1.5s forwards;
}

@keyframes border-fill {
    from {
        border: 4px solid orange;
        /* border-right-color: orange;
        border-bottom-color: orange;
        border-left-color: orange; */
    }

    to {
        /* border-top-color: #ff7a3a;
        border-right-color: #ff7a3a;
        border-bottom-color: #ff7a3a; */
        border: 4px solid #ff7a3a;
    }
}