
.Box {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    border-radius: 5px;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .Box {
        flex-direction: row;
    }
}
