@tailwind base;
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Inter&family=Roboto:wght@500&display=swap');



:root {
    --primary: #f1efee;
    --secondary: #ff7a3a;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 2px solid var(--primary);
}

body {
    font-family: Inter, sans-serif;
}

@tailwind components;
@tailwind utilities;